.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/FondoPrincipal.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro semi-transparente */
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    z-index: 1; /* Asegura que el formulario esté por encima del filtro */
    position: relative; /* Necesario para el z-index */
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo {
    max-width: 200px;
  }

.form-title {
    color: #1E91E2;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 12px 12px 12px 35px;
    /* Aumenta el padding izquierdo para que quepan los iconos */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    color: #0066cc;
    text-decoration: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-recovery {
    text-align: center;
    margin-top: 10px;
}

.recovery-link {
    color: #0066cc;
    text-decoration: none;
}