<app-navbar></app-navbar>
<div class="container">
    <form (ngSubmit)="onSubmit()" class="formulario">
        <div class="tab-container">
            <div class="tab-buttons">
                <button class="tab-button" type="button" [class.active]="activeTab === 0"
                    (click)="setActiveTab(0)">Información Personal</button>
                <button class="tab-button" type="button" [class.active]="activeTab === 1"
                    (click)="setActiveTab(1)">Domicilio</button>
                <button class="tab-button" type="button" [class.active]="activeTab === 2"
                    (click)="setActiveTab(2)">Formulario</button>
            </div>
            <div class="tab-content">
                <div class="tab" [class.active]="activeTab === 0">
                    <fieldset>
                        <legend>Nombre</legend>
                        <div class="input-row">
                            <input type="text" [(ngModel)]="data.solicitante.nombre" placeholder="Nombre" name="nombre">
                            <input type="text" [(ngModel)]="data.solicitante.primerApellido"
                                placeholder="Primer Apellido" name="primerApellido">
                            <input type="text" [(ngModel)]="data.solicitante.segundoApellido"
                                placeholder="Segundo Apellido" name="segundoApellido">
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Otros datos</legend>
                        <div class="input-row">
                            <label for="genero">Genero</label>
                            <select name="genero" id="genero" [(ngModel)]="data.solicitante.genero">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <input type="text" [(ngModel)]="data.solicitante.edad" placeholder="Edad" name="edad">
                        </div>
                        <div class="input-row">
                            <input type="text" [(ngModel)]="data.solicitante.correo" placeholder="Correo" name="correo">
                            <input type="number" [(ngModel)]="data.solicitante.montoSolicitado"
                                placeholder="Monto Solicitado" name="montoSolicitado">
                            <input type="text" [(ngModel)]="data.solicitante.universidad" placeholder="Universidad"
                                name="universidad">
                        </div>
                    </fieldset>
                    <input type="file" (change)="handleFileInput($event)" accept="image/*"><br>
                </div>
                <div class="tab" [class.active]="activeTab === 1">
                    <fieldset>
                        <legend>Dirección</legend>
                        <input type="text" [(ngModel)]="data.domicilio.calle" placeholder="Calle" name="calle"><br>
                        <input type="text" [(ngModel)]="data.domicilio.numeroExterior" placeholder="Numero Exterior"
                            name="numeroExterior"><br>
                        <input type="text" [(ngModel)]="data.domicilio.numeroInterior" placeholder="Numero Interior"
                            name="numeroInterior"><br>
                        <input type="text" [(ngModel)]="data.domicilio.colonia" placeholder="Colonia"
                            name="colonia"><br>
                        <input type="text" [(ngModel)]="data.domicilio.ciudad" placeholder="Ciudad" name="ciudad"><br>
                        <input type="text" [(ngModel)]="data.domicilio.estado" placeholder="Estado" name="estado"><br>
                        <button type="button" class="btn-geo" (click)="getLatLngFromAddress()">Obtener
                            Ubicación</button>
                    </fieldset>
                    <fieldset>
                        <legend>Ubicación</legend>
                        <input type="text" [(ngModel)]="data.domicilio.latitud" placeholder="Latitud"
                            name="latitud"><br>
                        <input type="text" [(ngModel)]="data.domicilio.longitud" placeholder="Longitud"
                            name="longitud"><br>
                    </fieldset>
                </div>
                <div class="tab" [class.active]="activeTab === 2">
                    <fieldset>
                        <legend>Vivienda</legend>
                        <label for="pregunta1">Dondé vives es...</label>
                        <select name="pregunta1" id="pregunta1" [(ngModel)]="data.formulario.pregunta1">
                            <option value="Casa Propia">Casa Propia</option>
                            <option value="Renta">Renta</option>
                        </select><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta2"
                            placeholder="¿Cuantas personas viven en el domicilio?" name="pregunta2"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta3"
                            placeholder="¿Cuántos hermanos(as) tienes? (Sin contarte a tí)" name="pregunta3"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta4"
                            placeholder="Sin contar pasillos y baños, ¿cuántas habitaciones de tu hogar son utilizadas para dormir? "
                            name="pregunta4"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta5"
                            placeholder="¿Cuántos baños con regadera y escusado hay en tu hogar?" name="pregunta5"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta6"
                            placeholder="¿Cuántos vehículos tienes en tu hogar?" name="pregunta6"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta7"
                            placeholder="Sin considerar los datos móviles de tu celular, ¿tu casa cuenta con conexión a internet?"
                            name="pregunta7"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta8"
                            placeholder="¿Recibes tú o algún miembro de la familia alguna beca de estudios?"
                            name="pregunta8"><br>
                    </fieldset>
                    <fieldset>
                        <legend>Servicios</legend>
                        <p>¿En tu casa tienen o tu dispones de ... </p><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta9" placeholder="Televisión"
                            name="pregunta9"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta10" placeholder="Videocasetera o DVD"
                            name="pregunta10"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta11" placeholder="Refrigerador"
                            name="pregunta11"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta12" placeholder="Estufa de gas"
                            name="pregunta12"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta13" placeholder="Calentador"
                            name="pregunta13"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta14" placeholder="Lavadora"
                            name="pregunta14"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta15" placeholder="Automóvil"
                            name="pregunta15"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta16" placeholder="Microondas"
                            name="pregunta16"><br>
                        <input type="text" [(ngModel)]="data.formulario.pregunta17" placeholder="Computadora"
                            name="pregunta17"><br>
                    </fieldset>
                    <button type="submit" [disabled]="!formCompleted">Enviar Solicitud</button>
                </div>
            </div>
        </div>
    </form>
</div>